@using WatsonTracker.Helper
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

    
        <li style="color:black">
            @Html.ActionLink("Hello " + User.Identity.GetFullName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", style="color:white" })
           
        </li>
        <li><a style="color:white" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

    }
}
else
{
    
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

}
